In [1]:
import pandas as pd
import numpy as np
import math
from datetime import date
from datetime import datetime

#set file name

In [53]:
filename = 'Confirmed'

In [ ]:
dt = datetime.now().strftime('%Y%m%d')

Covid 19 cases data from CSSE

In [30]:
df = pd.read_csv('covid_data/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-' + filename + '.csv')

In [31]:
df.shape

(421, 56)

In [4]:
df.head(5)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20,3/12/20,3/13/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,43,47,48,50,50,50,53,59,70,75
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,331,360,420,461,502,511,581,639,639,701
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,110,117,130,138,150,150,160,178,178,200
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,1,1
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,50,50,83,93,99,117,129,149,149,197

In [5]:
df1 = df[df['Country/Region'] == 'US']

In [6]:
df1.shape

(244, 56)

In [7]:
df2 = pd.melt(df1, id_vars = ['Province/State', 'Country/Region', 'Lat', 'Long'], var_name = 'period', value_name = 'case_counts')

In [8]:
df3 = df2[df2['case_counts'] > 0]

In [9]:
df3.shape

(945, 6)

In [54]:
df3.to_csv('Clean_' + filename + '_' + dt + '.csv')

In [11]:
df3.head()

      Province/State Country/Region      Lat      Long   period  case_counts
190  King County, WA             US  47.6062 -122.3321  1/22/20            1
434  King County, WA             US  47.6062 -122.3321  1/23/20            1
678  King County, WA             US  47.6062 -122.3321  1/24/20            1
679  Cook County, IL             US  41.7377  -87.6976  1/24/20            1
922  King County, WA             US  47.6062 -122.3321  1/25/20            1

'/Users/hong/Workspace/github/COVID-19'

In [12]:
zipmap = pd.read_csv('zipcodemap/us-zip-code-latitude-and-longitude.csv', sep = ';')

In [13]:
zipmap.head()

,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
0,71937,Cove,AR,34.398483,-94.39398,-6,1,"34.398483,-94.39398"
1,72044,Edgemont,AR,35.624351,-92.16056,-6,1,"35.624351,-92.16056"
2,56171,Sherburn,MN,43.660847,-94.74357,-6,1,"43.660847,-94.74357"
3,49430,Lamont,MI,43.010337,-85.89754,-5,1,"43.010337,-85.89754"
4,52585,Richland,IA,41.194129,-91.98027,-6,1,"41.194129,-91.98027"

zipcode Lat Long data from
https://public.opendatasoft.com/explore/dataset/us-zip-code-latitude-and-longitude/export/

/Users/hong/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

new = zipmap1['geopoint'].str.split(',', n= 1, expand = True)

zipmap1['Long_z'] = new[0]

zipmap1['Lat_z'] = new[1]

In [14]:
zipmap['tmp'] = 1

In [15]:
df3['tmp'] = 1

/Users/hong/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

####  join Case with Map

In [16]:
df4 = df3.merge(zipmap, on = 'tmp',how = 'outer')

In [144]:
df4['Country/Region'].value_counts()

US    38569563
Name: Country/Region, dtype: int64

In [17]:
df4.shape

(40815495, 15)

In [18]:
df4.head()

,Province/State,Country/Region,Lat,Long,period,case_counts,tmp,Zip,City,State,Latitude,Longitude,Timezone,Daylight savings time flag,geopoint
0,"King County, WA",US,47.6062,-122.3321,1/22/20,1,1,71937,Cove,AR,34.398483,-94.39398,-6,1,"34.398483,-94.39398"
1,"King County, WA",US,47.6062,-122.3321,1/22/20,1,1,72044,Edgemont,AR,35.624351,-92.16056,-6,1,"35.624351,-92.16056"
2,"King County, WA",US,47.6062,-122.3321,1/22/20,1,1,56171,Sherburn,MN,43.660847,-94.74357,-6,1,"43.660847,-94.74357"
3,"King County, WA",US,47.6062,-122.3321,1/22/20,1,1,49430,Lamont,MI,43.010337,-85.89754,-5,1,"43.010337,-85.89754"
4,"King County, WA",US,47.6062,-122.3321,1/22/20,1,1,52585,Richland,IA,41.194129,-91.98027,-6,1,"41.194129,-91.98027"

(38569563, 15)

df4['distance'] = math.sqrt(pow(df4['Lat'] - df4['Latitude'], 2) + pow(df4['Long'] - df4['Longitude'], 2))

In [20]:
df4['distance'] = pow(df4['Lat'] - df4['Latitude'], 2) + pow(df4['Long'] - df4['Longitude'], 2)

In [21]:
df5 = df4[df4['distance'] <1.7]

In [22]:
df5.shape

(547023, 16)

In [33]:
df4.shape

(40815495, 16)

In [52]:
df5.to_csv('zipaffected_' + filename + '_' + dt + '.csv')